body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 640px) {
  #aboutContainer {
    width: 95%;
    background-color: rgb(219, 219, 219);
  }
  #baldNate {
    width: 90%;
    margin: 5%;
    float: left;
  }
  #aboutLorem {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #aboutContainer {
    width: 95%;
    background-color: rgb(219, 219, 219);
  }
  #baldNate {
    width: 90%;
    margin: 0 5%;
    float: left;
  }
  #aboutLorem {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  #aboutContainer {
    width: 95%;
    background-color: rgb(219, 219, 219);
  }
  #baldNate {
    float: left;
  }
  #aboutLorem {
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #aboutContainer {
    width: 95%;
    background-color: rgb(219, 219, 219);
  }
  #baldNate {
    float: left;
  }
  #aboutLorem {
    width: 100%;
  }
}

.container {
  margin-top: 5%;
}

#baldNate {
  margin: 0 15px 15px;
}

#aboutLorem {
  width: 100%;
}

.wrap {
  margin-top: 100px;
  text-align: center;
  border: solid;
  bottom: 0;
  border-color: rgb(52, 58, 64);
  background: rgb(52, 58, 64);
  fill: rgb(52, 58, 64);
  width: 100vw;
  height: 10%;
}

.wrap p {
  color: white;
}

.wrap p a {
  color: white;
}

h1 {
  margin: 10px;
}

.size {
  height: 200px;
  width: 200px;
}

.footer {
  float: left;
}
.footer img {
  border-radius: 30px;
  margin-right: 5px;
}

.projectIcon {
  height: 300px;
  width: 300px;
}

.pano {
min-height: 100%;
background-size: cover;
}

.intro {
  margin-top: 56px;
  background-image: url(/Assets/Images/mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 50vh;
}

.intro h1 {

  padding-top: 150px;
  margin: auto;
  outline: 1px;

}

.myName {
  color: #343a40;
  font-weight: bold;
}

.title {
  font-style: italic;
  color: white;
}

.introButton {
  font-weight: bold;
}
